@layer webScss {
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden],
  template {
    display: none;
  }
  a {
    background-color: transparent;
  }
  a:active, a:hover {
    outline: 0;
  }
  b,
  strong {
    font-weight: bold;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  img {
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type=button],
  input[type=reset],
  input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type=checkbox],
  input[type=radio] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
  }
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
  }
  optgroup {
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td,
  th {
    padding: 0;
  }
  *[class^=notice] {
    padding: 0.4em 2.5em;
    display: block;
    width: 100%;
    font-size: 0.938em;
    margin: 0.2em 0;
    position: relative;
    color: #666;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
  }
  *[class^=notice]:before {
    position: absolute;
    top: 0.7em;
    left: 0.8em;
    display: block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    content: "";
  }
  *[class^=notice]:before img {
    width: 100%;
  }
  *[class^=notice] a.close {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0.8em;
    right: 1em;
    display: block;
    opacity: 0.5;
  }
  *[class^=notice] a.close:hover, *[class^=notice] a.close:focus-visible {
    opacity: 1;
  }
  *[class^=notice] a.close img {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
  }
  *[class*=noticeInfo] {
    color: #00529b;
    background-color: #ceecfa;
  }
  *[class*=noticeInfo]:before {
    background: url(../images/basic/icon_info.svg) no-repeat center center;
    background-size: 15px;
  }
  *[class*=noticeSuccess] {
    color: #3b7600;
    background-color: #dff2bf;
  }
  *[class*=noticeSuccess]:before {
    background: url(../images/basic/icon_success.svg) no-repeat center center;
    background-size: 15px;
  }
  *[class*=noticeWarning] {
    color: #c23e00;
    background-color: #feefb3;
  }
  *[class*=noticeWarning]:before {
    background: url(../images/basic/icon_warning.svg) no-repeat center center;
    background-size: 15px;
  }
  *[class*=noticeError] {
    color: #c40000;
    background-color: #ffd2d2;
  }
  *[class*=noticeError]:before {
    background: url(../images/basic/icon_error.svg) no-repeat center center;
    background-size: 15px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #F5F5F5;
  }
  .container {
    max-width: 1440px;
    margin: auto;
  }
  a {
    color: #00732e;
    text-decoration: none;
  }
  h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 2em 0 1em;
  }
  p {
    line-height: 1.6;
    color: #777;
  }
  hr {
    margin: 2em 0;
    opacity: 0.2;
  }
  .btnGrp {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 0;
  }
  .btnGrp._full {
    flex-wrap: wrap;
  }
  .btnGrp._full .btn {
    width: 100%;
    margin: 4px 0;
  }
  .btnGrp .btn {
    flex: 1 1 auto;
    margin: 0 4px;
  }
  .btn {
    color: #fff;
    background: #999;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
  }
  .btn._primary {
    background: #008C38;
  }
  .btn._second {
    background: #EBEDDA;
    color: #333;
  }
  .btn:hover, .btn:focus-visible {
    background: #00732e;
    color: #fff;
    border-color: #00732e;
  }
  .btn.submit {
    background: #00732e;
    color: #222;
    padding: 16px 52px;
    border: none;
  }
  .btn.submit:hover, .btn.submit:focus-visible {
    background: black;
    color: #000;
  }
  .btn.normal {
    background: #434343;
  }
  .btn.normal:hover, .btn.normal:focus-visible {
    color: #00732e;
    background: transparent;
  }
  .btn.filter {
    border: none;
    padding: 0;
    font-size: 0;
    width: 52px;
    height: 52px;
    background: url(../images/icon-array.svg) left top no-repeat;
    background-size: cover;
    transition: 0s;
  }
  .btn.filter:hover, .btn.filter:focus-visible {
    background-position: left bottom;
  }
  form {
    max-width: 800px;
    margin: 2em 4px 0;
  }
  form input,
  form select {
    width: 100%;
    margin: 6px 0;
  }
  form .formGrp {
    padding: 0.5em 0;
  }
  form .formGrp .title {
    font-size: 1.125rem;
  }
  form .formGrp .content p {
    text-align: left;
    color: #333;
    font-weight: bold;
    line-height: 2.6;
  }
  form .formGrp .content._inline {
    display: flex;
  }
  form .formGrp .content._inline > input {
    margin: 6px 4px;
    text-align: center;
  }
  form .formGrp .content._inline > input:first-child {
    margin-left: 0;
  }
  form .formGrp .content._inline > input:last-child {
    margin-right: 0;
  }
  form .formGrp .content._psssToggle {
    position: relative;
  }
  form .formGrp .content._psssToggle .btn {
    position: absolute;
    right: 1px;
    bottom: 7px;
    padding: 12px;
    border-radius: 2px;
    width: 46px;
    height: 46px;
    font-size: 0;
    background: url(../images/icon_hide.svg) 50% 50% no-repeat;
    background-size: 26px 26px;
  }
  form .formGrp .content._psssToggle .btn._iconShow {
    background: url(../images/icon_show.svg) 50% 50% no-repeat;
    background-size: 26px 26px;
  }
  form .formGrp .tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  form .formGrp .tip p {
    text-align: left;
    color: #333;
  }
  form .formGrp .tip p b {
    color: #EA3349;
    margin: 0 4px;
  }
  form .formGrp .tip p a {
    text-decoration: underline;
    text-underline-offset: 4px;
    margin: 0 2px;
  }
  form .formGrp .tip p a:hover {
    text-decoration: none;
  }
  form .formGrp .tip button {
    background: #fff;
    color: #008C38;
    border: 1px solid #008C38;
    padding: 6px 12px;
    border-radius: 4px;
  }
  form .formGrp .tip button:hover {
    background: #008C38;
    color: #fff;
  }
  input,
  select {
    padding: 12px 24px;
    border: solid 1px #bdbdbd;
    border-radius: 4px;
  }
  input:hover, input:focus-visible,
  select:hover,
  select:focus-visible {
    border: 1px solid #3399ff;
    box-shadow: 0 0 0 2px #3399ff;
    outline: none;
  }
  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: url(../images/icon-arrowDown.svg) no-repeat right 18px center;
  }
  input[type=radio],
  input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
  input[readonly],
  input[disable],
  input[type=checkbox] disabled {
    background: #eee;
    color: #666;
  }
  input[readonly]:hover,
  input[disable]:hover,
  input[type=checkbox] disabled:hover {
    border-color: #bdbdbd;
    box-shadow: none;
    cursor: not-allowed;
  }
  .radioGrp,
  .checkGrp {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;
  }
  .radioGrp > label,
  .checkGrp > label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 24px;
    word-break: keep-all;
  }
  .checkGrp a {
    text-decoration: underline;
    text-underline-offset: 4px;
    margin: 0 2px;
  }
  .checkGrp a:hover {
    text-decoration: none;
  }
  .necessary {
    color: red;
    padding: 4px;
    text-decoration: none;
  }
  .forgetPassword {
    color: #333;
  }
  .forgetPassword:hover {
    color: #008C38;
  }
  body {
    overflow-y: auto;
    scrollbar-color: #000 rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
  }
  body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #000;
  }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  #mask,
  #mask_below {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: 10000;
  }
  #mask .container,
  #mask_below .container {
    width: 480px;
    background: #fff;
    border-radius: 8px;
    padding: 2em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #mask .container .scrollCover,
  #mask_below .container .scrollCover {
    background: #eee;
    padding: 1em 1.25em;
    border-radius: 8px;
    height: 300px;
    overflow-y: scroll;
    line-height: 1.6;
  }
  #mask .container .scrollCover .content ul, #mask .container .scrollCover .content ol,
  #mask_below .container .scrollCover .content ul,
  #mask_below .container .scrollCover .content ol {
    margin: 12px 0;
    margin-left: 24px;
  }
  #mask h3,
  #mask_below h3 {
    text-align: center;
  }
  #mask .btnClose,
  #mask_below .btnClose {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0;
    padding: 20px;
    border-radius: 50%;
    border: none;
    background: url(../images/icon-close.svg) 50% 50% no-repeat transparent;
    background-size: 18px 18px;
    transition: 0.3s;
  }
  #mask .btnClose:hover,
  #mask_below .btnClose:hover {
    background: url(../images/icon-close.svg) 50% 50% no-repeat #eee;
    background-size: 18px 18px;
  }
  #mask {
    display: none;
  }
  #mask_below {
    z-index: 10000;
    transition: 0.3s;
  }
  #mask_below .container {
    left: 50%;
    top: initial;
    bottom: 0;
    transform: translate(-50%, 0);
    border-radius: 8px 8px 0 0;
  }
  #mask_below .container h3 + p {
    margin: 1em 0;
  }
  #mask_below .container p {
    margin: 2em 0 1em;
  }
  #mask_below._hide {
    display: none;
  }
  .listCard {
    display: flex;
    align-items: center;
    border: 1px solid #bdbdbd;
    padding: 1em 2em;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .listCard .itemName {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  .listCard .itemName img {
    display: block;
    width: 48px;
    height: 48px;
  }
  .listCard .itemName p {
    text-align: left !important;
    padding: 0 1em;
    line-height: 1.4;
    color: #333;
  }
  .listCard .itemName p b {
    color: #222;
    font-size: 1.25em;
    letter-spacing: 1px;
  }
  .listCard .itemName + .state {
    flex: 0 0 auto;
    text-align: right;
    color: #999;
  }
  .listCard > .state + .itemName p {
    padding-right: 0;
  }
  .listCard input[type=checkbox] {
    margin: 6px 0;
  }
  header {
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    padding-left: 330px;
    background: url(../images/logo.png) left 50% no-repeat;
    background-size: contain;
    height: 52px;
    font-size: 0;
    letter-spacing: 3px;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
  }
  header nav {
    text-align: right;
  }
  header nav a.lang {
    display: inline-block;
    padding: 6px 12px;
    background: #ddd;
    border-radius: 20px;
    margin: 10px 0;
  }
  header .menu {
    display: flex;
  }
  header .menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
  }
  header .menu a:hover {
    background: #464646;
  }
  .main {
    overflow-x: hidden;
  }
  .main .container {
    margin-top: calc(100px + 1em);
    background: #fff;
    padding: 2em;
    border-radius: 8px;
  }
  .main .centerLimit {
    max-width: 480px;
    margin: auto;
  }
  .main .centerLimit h3, .main .centerLimit p {
    text-align: center;
  }
  .main .centerLimit .imgBox {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background: #eee;
    overflow: hidden;
    margin: 2em auto auto;
  }
  .main .centerLimit .imgBox + h3 {
    margin-top: 1em;
  }
  .main .centerLimit .imgBox img {
    width: 100%;
    height: 100%;
  }
  .main .centerLimit .imgBox img.contain {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main .centerLimit .imgBox img.cover {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .centerLimit .imgBox img.fill {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .main .centerLimit .info {
    padding: 2em 1em;
    margin: 2em 0;
    background: #F9F9F9;
    border-radius: 8px;
  }
  .main .centerLimit .info h4 {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1em;
  }
  .main .centerLimit .info ol, .main .centerLimit .info ul {
    margin-left: 32px;
    list-style: none;
  }
  .main .centerLimit .info ol li, .main .centerLimit .info ul li {
    padding-left: 32px;
    line-height: 2;
    background: url(../images/icon-li-style.svg) left 4px no-repeat;
    background-size: 24px 24px;
  }
}/*# sourceMappingURL=style.css.map */